# Exclude sensitive / raw requirements
Requirements.md

# Dependencies
node_modules
.pnpm-store

# Production build
dist
build

# System & Environment
.env
.env.local
.DS_Store
Thumbs.db
.system_generated
